<div class="form">
  <div class="form__container">
    <h1>Registro</h1>
    <form [formGroup]="form" (ngSubmit)="signUp()">
      <div>
        <mat-form-field>
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="names" />
          <mat-error>Este campo es requerido.</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error>Este campo es requerido.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="isEmailValid as messsage">{{ messsage }}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Ingresa Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error>Este campo es requerido.</mat-error>
        </mat-form-field>
      </div>

      <div>
        <button mat-flat-button color="accent" type="submit">Crear cuenta</button>
      </div>
    </form>
    <hr />
    <span class="small-text providers">¿Desea ingresar por cuenta de Google?</span>
    <app-button-providers />
    <span class="small-text log-in-redirect"
      >¿No se ha registrado? <a routerLink="/auth/log-in">Regístrate</a></span
    >
  </div>
</div>
